
.navbar-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
    box-shadow: 0 0 7px rgba(0,0,0,0.1);
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    letter-spacing: 1px;
    width: 95%;
    

    .logo  {
        img {
            height: 90px;
        }
    }



    .link-wrapper {
        display: flex;

        .link {
            margin-right: 20px;
            padding-bottom: 3px;
            text-decoration: none;
            text-transform: uppercase;
            color: black;
        }

        .hover {
            transition: 0.2s;
            &:hover {
                color: $highlight;
            }
        }

        .active {
            color: $highlight;
            border-bottom: 1px solid $highlight;
        }

        i {
            -webkit-text-stroke: 1px white;
        }
    }
}

.active {
    color: green;
}